.alert.alert-primary(role="alert")
    p This process will request an 
        strong access token 
        |directly from the token endpoint.

.alert.alert-warning(role="alert")
    p As there is no user involvement in this process it requires an admin to have manually granted permissions on the application in Azure!

.alert.alert-info(role="alert")
    h4.alert-heading Options
    dl.row
        dt.col-sm-2 grant_type
        dd.col-sm-10 Use 
            strong client_credentials 
            |for the client credentials flow.
        dt.col-sm-2 scope
        dd.col-sm-10 A space separated list of scopes you want to user to consent to.